<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Retrocomputer Database</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" title="style" />
</head>

<body>
  <div id="main">
    <div id="adminheader">
      <div th:replace="adminheaderfiles :: adminheader">
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <div th:replace="sidebar :: sidebar"> </div> 
      </div>
      <div id="content">
        
   <h1>Computer wurde gelöscht</h1>
      </div>
    </div>
    <div id="footer">
    <div th:replace="footer :: footer">  
  	</div>
  </div>
</body>
</html>

