<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Retrocomputer Database</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div th:replace="headerfiles :: header">
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <div th:replace="sidebar :: sidebar"> </div> 
      </div>
      <div id="content">
        
   <h1>Show all computers</h1>
<table>
	<thead>
		<tr>
			<th></th>
			<th>Company</th>
			<th>Computer</th>
		</tr>
		<tbody>
			<tr th:each=" computer : ${computers}">
				<td><img th:src="@{/images/thumb/{computerthumb}(computerthumb=${computer.thumb})}"></td>
				<td><span th:text="${computer.company.name}">Company</span></td>
				<td><a th:href="@{/computer/{id}(id=${computer.id})}"><span th:text="${computer.name}">Name</span></a></td>
		</tbody>
</table>
      </div>
    </div>
    <div id="footer">
    <div th:replace="footer :: footer">  
  	</div>
  </div>
</body>
</html>

